In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Tworzenie rozkładu normalnego o średniej 3 i odchyleniu standardowym 1 dla 100 elementów

In [6]:
normalDist_100 = pd.DataFrame(np.random.normal(3, 1, 100))
normalDist_100.columns = ['value']
normalDist_100.head()

      value
0  2.340332
1  3.725732
2  1.935504
3  3.313458
4  0.505295

### Tworzenie rozkładu normalnego o średniej 3 i odchyleniu standardowym 1 dla 10 000 elementów

In [5]:
normalDist_10000 = pd.DataFrame(np.random.normal(3, 1, 10000))
normalDist_10000.columns = ['value']
normalDist_10000.head()

      value
0  3.287639
1  3.206282
2  2.855685
3  1.646821
4  2.207573